
  <!-- this is the beginning of the contact us -->
  
  <footer>
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             <p>  CarleStockTrader is not an investment advisory service, or a registered investment advisor or broker-dealer and does not purport to tell or suggest which securities customers should buy or sell for themselves.  The analysts and employees or affiliates of CarleStock Trader may hold positions in the stocks or industries discussed within the Website.  You understand and acknowledge that there is a very high degree of risk involved in trading securities.  CarleStockTrader has advertising relationships with some of the offers listed on this website. While CarleStockTrader makes a reasonable effort to keep any listed information updated, it does not and cannot guarantee the accuracy or applicability of any information in regard to your individual circumstances. Past performance is not indicative of future returns. </p>
      </p>
                <hr>
            </div>
            <div class="col-md-6">
                <div class="address">
                    
                <h5>Address:</h5>
                <p>Carleton University
                 1125 Colonel By Drive
                   Ottawa, Ontario
                  K1S 5B6 Canada</p>
                </div>
                <div>
                <h5>Email:</h5>
                <ul class="list-unstyled">
                    <li> info@email.com</li>
                    
                </ul>
                </div>
                <div>
                    <h5>Phone:</h5>
                    <ul class="list-unstyled">
                    <li> +1 - 613-520-2600</li>
                  
                </ul>
                </div>
                <hr>
                <div class="social">
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-md-6">
               
                    <div class="card-body">
                         <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input id="Full Name" name="Full Name" placeholder="Full Name" class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                              </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input id="Mobile No." name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                          
                                          <select id="inputState" class="form-control">
                                            <option selected>Choose ...</option>
                                            <option> Student</option>
                                            <option> Professor</option>
                                            <option> Board Member</option>
                                            <option> External Users</option>
                                          </select>
                                </div>
                                <div class="form-group col-md-12">
                                          <textarea id="comment" name="comment" cols="40" rows="5" placeholder="Your Message"class="form-control"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <button type="button" class="btn btn-danger btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    
    <hr />
     <!-- Footer Elements -->
      <div class="container">
      
       <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
        
        </ul>
        <!-- Social buttons -->
    
      </div>
      <!-- Footer Elements -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
      <ul class = "list-unstyled">
      <li class="list-inline-item">
            
             Aceessibility 
           
          </li>
          
          <li class="list-inline-item">
            
             Priavcy Policy
           
          </li>
          
            <li class="list-inline-item">
            
             Contact Info
           
          </li>
        
      
        </ul>
      <p>   © 2020 Copyright </p>
    </div>
     
      
      </footer>
      <!-- this is the end of the ocntact us -->
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
         
         
              <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
         <script src="./js/main.js"></script>
      </body>
    </html>