

  <div class = "header_wrap">
    <header>
  
<%- include('nav.ejs'); %>
 <h1 class = "main_title main_title_before" id = "main_title_one">  </h1> 
 <h2 class = "main_title_two" id = "main_title_two"> <h2>
  <form class="form" >
  <div class="form-group form-group-md" id = "main_input_search">
  
    <input type = "text" class="form-control" placeholder="Find A stock" />
	
	</div>
	
	<div class="form-group form-group-md" id = "main_input_search_button">
      <button class="btn btn-danger  btn-block form-control" type="submit"><span class="fa fa-search "></span>Search</button>
    </div>
	
	</form>
  </header>
 
  </div>
  
 <!-- this is the end of the navbar --> 