<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carleton Stock Business</title>
    
	<link rel = "stylesheet" href = "/css/main.css" />
	<link rel = "stylesheet" href = "/css/bootstrap.min.css" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style> 

	
	</style>
  </head>
  <body onload = "onload_effects()">
  
 
  <header>
    <%- include('nav.ejs'); %>
  
  </header>
 
  

 
  