
<%- include('./partials/head'); %>
<%- include('./partials/header_index'); %>



<!-- this is the beginning of the trending  info section --> 


<div class="sections_odd text-center sections">
    <h1>Trending</h1> 
    
    
   
   <table class="table">
      <thead>
        <tr>
          
          <th>SYMBOL</th>
          <th>Top Gainers's name</th>
          <th>LAST</th>
          <th>CHANGE</th>
          <th>CHANGE PERCENTAGE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SOCOTIA</td>
          <td>Socotia Bank</td>
          <td>$37.44</td>
          <td>$7.44</td>
          <td>56.2%</td>
        </tr>
        <tr>
          <td>BMO</td>
          <td>Bank of Montreal</td>
          <td>$2.49</td>
           <td>$0.49</td>
          <td>6.2%</td>
        </tr>
        <tr>
          <td>CIBC</td>
          <td>Canada Imperial Bank Inc.</td>
          <td>$4.18</td>
          <td>$2.18</td>
  
          <td>0.72%</td>
        </tr>
        <tr>
          <td>TD</td>
          <td>Canada Trust, Inc.</td>
          <td>$4.35</td>
          <td>0.68</td>
          <td>2.72%</td>
        </tr>
        <tr>
          <td>RBC</td>
          <td>Royal Bank of Canada</td>
          <td>$100.23</td>
          <td>$1.49</td>
          <td>3.2%</td>
        </tr>
      </tbody>
    </table>
    
    
    
    
   
  </div>
  
  
  <!-- this is the end of the trending info section --> 
    
    
    
    
    
  <!-- this is the beginning of the trending  info section --> 
  
  
  <div class="sections_even text-center sections">
    <h1>Pricing</h1> 
    <div class="container">
      <div class="row">
       <div class="columns">
    <ul class="price">
      <li class="header">Carleton Students</li>
      <li> 1.99% comission</li>
      <li>10 Transctions / Day</li>
      <li>$500 Account Minimums</li>
      <li><span class="fa fa-check "></span>Search and Track stocks easily with you watchlist</li>
      <li><span class="fa fa-check "></span>Free news and updates about stocks</li>
       <li><span class="fa fa-times "> </span>Notifictions when stock prices move</li>
      <li><button class="btn btn-outline-danger btn-block">Sign Up</button></li>
    </ul>
  </div>
  
  
  
  <div class="columns">
    <ul class="price">
      <li class="header">Carleton Professors</li>
      <li>0 comission fee</li>
      <li>Unlimtied Transction</li>
      <li>$100 Account Minimums</li>
      <li><span class="fa fa-check "></span>Search and Traco stocks easily with you watchlist</li>
      <li><span class="fa fa-check "></span>Free news and updates about stocks</li>
       <li><span class="fa fa-check "></span>Notifictions when stock prices move</li>
      <li><button class="btn btn-outline-danger btn-block">Sign Up</button></li>
    </ul>
  </div>
  
  
  <div class="columns">
    <ul class="price">
      <li class="header">Carleton Board Memebers</li>
      <li>3.99% comission</li>
      <li>100 Transction</li>
      <li>$3500 Account Minimums</li>
      <li><span class="fa fa-times "></span>Search and Traco stocks easily with you watchlist</li>
      <li><span class="fa fa-times "></span>Free news and updates about stocks</li>
       <li><span class="fa fa-times "></span>Notifictions when stock prices move</li>
      <li><button class="btn btn-outline-danger btn-block">Sign Up</button></li>
    </ul>
  </div>
  
  
  
    </div>
  </div>
  
  
  <!-- this is the end of the trending info section --> 
    
    
    
    


<%- include('./partials/footer_index'); %>